.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.recipe-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.recipe-row .recipe-card {
  position: relative;
}

.recipe-card {
    flex: 1 1 calc(33.33% - 15px);
    max-width: calc(33.33% - 15px);
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .recipe-card {
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }
}

@media (max-width: 768px) {
    .recipe-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.recipe-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.recipe-title {
    top: 4px;
    left: 4px;
    position: absolute;
    background-color: #006E33;
    color:  #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.8rem;
}

.recipe-of-today {
    width: 90%;
    margin: 0 auto;
}

.display-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 60vh;

}

.main-image-container {
    flex: 2;
    position: relative;
}

.main-image-container .recipe-card {
  position: static;
}

.recipe-of-today .recipe-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.thumbnail-wrapper {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.random-recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.random-recipe-image:hover {
    opacity: 0.8;
}

.meal-label {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: #006E33;
    color: #FEFBEA;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.8rem;
}

.navbar {
    width: 90%;
    margin: 0 auto;
}

.navbar-links {
    background-color: #006E33;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
}

.navbar-links li {
    padding: 0;
    position: relative;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.navbar-links a:hover {
    color: #ffd700;
    display: block
}

.dropdown {
    background-color: #006E33;
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    padding-left: 0;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
}

.dropdown a {
    text-align: center;
    display: block;
    border-radius: 10px 10px 10px 10px;
    position: relative
}

.dropdown li {
    border-radius: 10px 10px 10px 10px;
    position: relative
}

.recipe-instruction-page {
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
}

.recipe-instruction-page h2 {
    margin: 30px 0 0 0;
    font-size: 1.5rem;
    text-align: center
}

.top-display-container {
    display: flex;
    margin: 0px 0 0 0;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    background-color: #f0f0f0;
    margin: 20px auto;
    padding: 20px;
    align-items: flex-start;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    background-color: #f0f0f0;
    margin: 20px auto;
    padding: 20px;
    align-items: flex-end;
}

.top-display-container img {
    flex: 0 0 20%;
    margin: 20px;
    height: auto;
    width: auto;
    max-height: 60vh;
}

.instruction-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    background-color: #006E33;
    width: calc(100% - 40px);
    align-items: flex-start;
}

.instruction-container h3 {
    margin: 10px 0 0 0;
    font-size: 1.5rem;
}

.recipe-instruction-step-number {
    font-weight: bold;
    font-size: 1.2rem;
}

.recipe-instruction {
    font-size: 1rem;
    margin: 0;
}
